/CLIP
/文献
/models
/figures
/visual_prompting/data
/visual_prompting/save
/opticalmoe/data
/opticalmoe/runs
/opticalmoe/.pytest_cache

/opticalmoe_experiments/data
runs
results
figures

/opticalmoe/d2nn_baseline_mnist256/data

__pycache__/
*.pyc

*.pt
