/CLIP
/文献
/models
/figures
/visual_prompting/data
/visual_prompting/save
/opticalmoe/data
/opticalmoe/runs
/opticalmoe/.pytest_cache

/opticalmoe_experiments/data
runs
results
figures

__pycache__/
*.pyc
